.planesWraper{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  padding-top: 80px;
  margin-top: -30px;
}

.planInfo{
  display: flex;
  width: 50%;
  flex-direction: column;
  padding: 40px;
}

.mainTitleContainer{
  font-family: AgrandirRegular;
  color:#B97286 ;
  font-weight: lighter;
  font-size: 64px;
  margin: 50px 0px 50px 0px;
  font-weight: lighter;
  text-align: start;
}

.titleContainer{
  font-family: AgrandirRegular;
  color:#B97286 ;
  font-weight: lighter;
  font-size: 64px;
  margin: 0px 0px 50px 0px;
  font-weight: lighter;  padding: 20px;
}

.stepsListContainer{
  font-family: 'Nunito Sans', sans-serif;
}

.stepsListContainer ul{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: space-evenly;
  list-style: none;
}

.stepsListContainer ul li{
  border-radius: 20px;
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: left;
  margin: 10px 0px;
  padding: 10px;
  color: #545454;
  font-size: 24px;
  font-family: 'Nunito Sans', sans-serif;

}

.stepsListContainer .listNumber{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 5%;
  border-radius: 50%;
  margin-right: 20px;
  font-size: 80px;
  font-family: AgrandirRegular;
  color: #bebdba;

}

.stepsListContainer .listStep{
  padding: 10px;
  width: 80%;
}

.cardWraper{
  margin-top: 40px;
  display: flex;
  width: auto;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px 80px;
}

.planesContainer{
  display: flex;
  padding: 20px;
}

.basicCard{
  background-color: #F6D1C7;
  display: flex;
  flex-direction: column;
  width: 300px;
  height: 600px;
  border-radius: 20px;
  padding: 20px;
  box-shadow: 0px 10px 15px -3px rgba(0, 0, 0, 0.411);
}

.basicCardInfo h2{
  font-size: 32px;
  font-weight: bold;
  font-family: AgrandirRegular;
  color: #545454;
}

.basicCardInfo small{
  color: #545454;
  font-size: 20px;
  font-family: 'Nunito Sans', sans-serif;
}

.basicPrice{
  font-size: 40px;
  margin-top: 50px;
  color: #545454;
  font-family: 'Nunito Sans', sans-serif;
}

.basicList{
  margin-top: 100px;
  margin-bottom: 120px;
}


.basicList li{
  color: #545454;
  font-family: 'Nunito Sans', sans-serif;
  list-style: none;
  margin: 15px;
}

.basicList span{
  margin-left: 10px;
}

.cardBTN{
  display: flex;
  align-items: center;
  justify-content: center;
}

.planesContainer a{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50%;
  text-decoration: none;
}

.basicCardBtn{
  font-family: AgrandirRegular;
  font-weight: bold;
  letter-spacing: 2px;
  padding: 10px 16px;
  border-radius: 10px;
  border: none;
  background-color: #d9d9d9;
  color: #545454;
  transition: .3s ease-in-out all;
  cursor: pointer;
  width: 100%;

}

.basicCardBtn:hover{
  transition: .3s ease-in-out all;
  color:#D7D2CE ;
  background-color: #ACA7A3;
}

@media (max-width : 768px) {

  .planesWraper{
  width: 80%;
  height: 100%;
  display: flex;
  flex-direction: column; 
  align-items: center;
  justify-content: center; 
  }

  .planInfo{
    width: 90%;
    padding: 0;
    margin: 0;
  }

  .planesWraper .mainTitleContainer{
    margin-top: 70px;
    text-align: center;
  }

  .cardWraper{
    display: flex;
    flex-direction: column;
    width: 80%;
    height: 100%;
    align-items: center;
    justify-content: center;
    background-color: #F5EDE6;
  }

  .planesContainer{
    display: flex;
    flex-direction: column;
    height: 100%;
  }
}
