.equilibriumInfoContainer{
  width: 768px;
  height: 100%;
  padding: 0px 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.equilibriumInfoContainer h2 {
  font-family: AgrandirRegular;
  font-weight: lighter;
  font-size: 64px;
  color: #B97286;
  padding-top: 80px;
}

.equilibriumInfoContainer p{
  margin: 50px 0px;
  font-size: 20px;
  font-family: 'Nunito Sans', sans-serif;
  color: #545454;
}



.textContainer .listItem{
  color: #B97286;
  font-family: AgrandirBold;
  font-weight: bolder;
  padding: 20px;
  list-style: none;
  font-weight: lighter;
  transition: 0.3s ease-in-out;
  font-size: 24px;
  height: 50px;
}

.textContainer .listItem:hover{
  transition: 0.3s ease-in-out;
  font-size: 32px;
}

.listContainer{
  display: flex;
  align-items: self-start;
  height: 250px;
}


.equilibriumListWraper ul{
  padding: 10px;
  list-style: none;
}

@media (width < 768px) {
  .equilibriumInfoContainer{
    margin-top: -170px;
    padding-top: 0px;
    display: flex;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
    background-color: #F5EDE6;
  }

.equilibriumInfoContainer h2 {
  padding: 0px;
}

  .equilibriumInfoContainer h2 {
    text-align: center;
    margin-top:300px;
  }

  .textContainer{
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  .equilibriumInfoContainer p {
    width: 90%;
    margin: 10px;
    padding: 20px 0px;
  }
}