.equilibriumInfoContainer{
  width: 768px;
  height: 100%;
  padding: 0px 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.equilibriumInfoContainer h2 {
  font-family: AgrandirRegular;
  font-weight: lighter;
  font-size: 64px;
  color: #B97286;
  padding-top: 80px;
}

.equilibriumInfoContainer p{
  margin: 50px 0px;
  font-size: 20px;
  font-family: 'Nunito Sans', sans-serif;
  color: #545454;
}

.equilibriumCards{
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  margin-top: 20px;
  justify-content: space-between;
  color: #D9D9D9;
}

.cardInfo1{
  margin-top: 20px;
  width: 200px;
  height: 200px;
  background-image: url(https://images.pexels.com/photos/5408814/pexels-photo-5408814.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1);
  background-size: cover;
  background-color: #f6d1c7;
  border-radius: 20px;
}

.cardInfo1 span{
  display: flex;
  align-items: center;
  justify-content: center;
  visibility: hidden;
}

.cardInfo1:hover{
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: none;
  border-radius: 20px;
  transition: 2s ease-in-out;

}

.cardInfo1:hover span{
  color: #B97286;
  font-weight: bold;
  visibility: visible;
  font-family: AgrandirRegular;
  font-size: 32px;
}

.cardInfo2{
  margin-top: 20px;
  width: 200px;
  height: 200px;
  background-image: url(https://images.pexels.com/photos/796602/pexels-photo-796602.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1);
  background-color: #f6d1c7;
  background-size: cover;
  border-radius: 20px;
}

.cardInfo2 span{
  display: flex;
  align-items: center;
  justify-content: center;
  visibility: hidden;
}

.cardInfo2:hover{
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: none;
  border-radius: 20px;
  transition: 2s ease-in-out;
}

.cardInfo2:hover span{
  color: #B97286;
  font-weight: bold;
  visibility: visible;
  font-family: AgrandirRegular;
  font-size: 32px;
}

.cardInfo3{
  margin-top: 20px;
  width: 200px;
  height: 200px;
  background-image: url(https://images.pexels.com/photos/2303781/pexels-photo-2303781.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1);
  background-color: #f6d1c7;
  background-size: cover;
  border-radius: 20px;
}

.cardInfo3 span{
  display: flex;
  align-items: center;
  justify-content: center;
  visibility: hidden;
}

.cardInfo3:hover{
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: none;
  border-radius: 20px;
  transition: 2s ease-in-out;
}

.cardInfo3:hover span{
  color: #B97286;
  font-weight: bold;
  visibility: visible;
  font-family: AgrandirRegular;
  font-size: 32px;
}

.textContainer .listItem{
  color: #B97286;
  font-family: AgrandirBold;
  font-weight: bolder;
  padding: 10px;
  list-style: none;
  font-weight: lighter;
  transition: 0.3s ease-in-out;
  font-size: 24px;
}

.textContainer .listItem:hover{
  height: fit-content;
  transition: 0.3s ease-in-out;
  font-size: 32px;
}

.equilibriumCardBasic{
  display: flex;
  flex-direction: column;
  height: 600px;
  width: 40%;
  background-color: lightgray;
}

.equilibriumCardPremium{
  display: flex;
  flex-direction: column;
  height: 600px;
  width: 40%;
  background-color: lightgray;
}

.equilibriumCardTitle{
  font-size: 48px;
  padding: 10px;
}

.equilibriumListWraper ul{
  padding: 10px;
  list-style: none;
}

@media (width < 768px) {
  .equilibriumInfoContainer{
    margin-top: -170px;
    /* margin-bottom: 250px; */
    padding-top: 0px;
    display: flex;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
    background-color: #F5EDE6;
  }

.equilibriumInfoContainer h2 {
  padding: 0px;
}

  .equilibriumInfoContainer h2 {
    text-align: center;
    margin-top:300px;
  }

  .textContainer{
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  .equilibriumInfoContainer p {
    width: 90%;
    margin: 10px;
    padding: 20px 0px;
  }

  .cardInfo1{
    background-position: center;
    padding: 0px 5px;
    width: 30%;
    height: 100px;
  }

  .cardInfo2{
    background-position: center;
    padding: 0px 5px;
    width: 30%;
    height: 100px;
  }

  .cardInfo3{
    background-position: center;
    padding: 0px 5px;
    width: 30%;
    height: 100px;
  }

  .cardInfo1 span{
    font-size: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    visibility: hidden;
  }
}